<section>
    <div class="blue-container">
        <div class="blue-container-content">
            <h1 class="blue-container-text-1">
                Prueba Premium gratis <strong class="bold-height">3</strong> meses
            </h1>
            <p class="blue-container-text-2">
                Escucha millones de canciones sin anuncios, a la carta y sin
                conexión.
            </p>
            <div class="blue-container-button">
                <a class="button-text">
                    <h4>VER PLANES</h4>
                </a>
            </div>
            <small class="blue-container-text-3">
                Rigen términos y condiciones. Los tres meses gratis no están
                disponibles para usuarios que ya hayan probado Premium.
            </small>
        </div>
    </div>
</section>