<footer class="footer">
    <nav>
        <ul>
            <li class="menu-items"><a class="footer-links" href="#">Legal</a></li>
            <li class="menu-items"><a class="footer-links" href="#">Cookies</a></li>
            <li class="menu-items">
                <a class="footer-links" href="#">Informacion sobre los anuncios</a>
            </li>
    </nav>
    <div class="copyright-content">
        <span>España
            <img class="spain-flag" src="./assets/images/es.svg" class="spanish-flag" alt="Bandera de España" />
        </span>
        <span class="copy-year">&copy; 2022 Spotify AB</span>
    </div>
</footer>